<main>
    <h1 class="text-uppercase">Hello world</h1>
    <h2 class="text-lowercase">Second</h2>
    <h3>Third</h3>
    <hr>

    <div class="display-1 text-center text-capitalize">hello world</div>
    <div class="display-5 text-end">Second</div>
    <div class="display-6">Third</div>
    <hr>

    <span class="text-muted">Додатковий текст</span>
    <hr>

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-light">Light</button>
    <button class="btn btn-dark">Dark</button>
    <button class="btn btn-link">Link</button>
    <hr>

    <p class="text-primary">My text</p>
    <p class="text-secondary">My text</p>
    <p class="text-success">My text</p>
    <p class="text-danger">My text</p>
    <p class="text-warning">My text</p>
    <p class="text-info">My text</p>
    <p class="text-light">My text</p>
    <p class="text-dark">My text</p>
    <hr>

    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-success">Success</button>
    <button class="btn btn-outline-danger">Danger</button>
    <button class="btn btn-outline-warning">Warning</button>
    <button class="btn btn-outline-info">Info</button>
    <button class="btn btn-outline-light">Light</button>
    <button class="btn btn-outline-dark">Dark</button>
    <button class="btn btn-outline-link">Link</button>
    <hr>


    <button class="btn btn-primary btn-lg">Велика</button>
    <button class="btn btn-primary">Звичайна</button>
    <button class="btn btn-primary btn-sm">Маленька</button>
    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>




</main>