<main class="text-bg-light p-5">
    <h1 class="text-uppercase">Hello world</h1>
    <h2 class="text-lowercase">Second</h2>
    <h3>Third</h3>
    <hr>

    <div class="display-1 text-center text-capitalize">hello world</div>
    <div class="display-5 text-end">Second</div>
    <div class="display-6">Third</div>
    <hr>

    <span class="text-muted">Додатковий текст</span>
    <hr>

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-light">Light</button>
    <button class="btn btn-dark">Dark</button>
    <button class="btn btn-link">Link</button>
    <hr>

    <p class="text-primary">My text</p>
    <p class="text-secondary">My text</p>
    <p class="text-success">My text</p>
    <p class="text-danger">My text</p>
    <p class="text-warning">My text</p>
    <p class="text-info">My text</p>
    <p class="text-light">My text</p>
    <p class="text-dark">My text</p>
    <hr>

    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-success">Success</button>
    <button class="btn btn-outline-danger">Danger</button>
    <button class="btn btn-outline-warning">Warning</button>
    <button class="btn btn-outline-info">Info</button>
    <button class="btn btn-outline-light">Light</button>
    <button class="btn btn-outline-dark">Dark</button>
    <button class="btn btn-outline-link">Link</button>
    <hr>


    <button class="btn btn-primary btn-lg">Велика</button>
    <button class="btn btn-primary">Звичайна</button>
    <button class="btn btn-primary btn-sm">Маленька</button>
    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

    <hr>

    <div class="card text-bg-dark">
        <img class="card-img-top" src="https://picsum.photos/800/400" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #123</h5>
            <p class="text-bg-secondary">Таблетки для посудомийних машин</p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header">
            <h5>Menu</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Home page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark" class="btn-sm">Update list</button>
        </div>
    </div>

    <hr>

    <table class="table table-striped table-bordered text-bg-success">
        <thead>
            <tr>
                <th>#id</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>35</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ivan</td>
                <td>29</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <div class="card text-bg-secondary">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">Title</h6>
            <p>This is content for our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>

    <hr>

    <div class="row gx-3 gy-5">
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center text-bg-primary">Header</div>
                <div class="card-body text-center text-bg-warning">
                    <h6 class="card-title">Title</h6>
                    <p>This is content for our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>


    </div>

    <hr>

    <div class="card">
        <div class="nav">
            <div class="nav-item">
                <a href="/summary" class="nav-link">Home</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link disabled">Bootstrap</a>
            </div>
            <div class="nav-item">
                <a href="/skills" class="nav-link">FAQ</a>
            </div>
        </div>
    </div>
    <br>

    <div class="nav nav-tabs">
        <div class="nav-item">
            <a href="/summary" class="nav-link active">Home</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link disabled">Bootstrap</a>
        </div>
        <div class="nav-item">
            <a href="/skills" class="nav-link">FAQ</a>
        </div>
    </div>

    <br>

    <div class="row g-2">
        <div class="col-3">
            <div class="card me-3">
                <div class="pt-4 pb-3 px-4">
                    <div class="nav flex-column">
                        <div class="card mb-2">
                            <div class="nav-item">
                                <a href="/summary" class="nav-link">Home</a>
                            </div>
                        </div>

                        <div class="card mb-2">
                            <div class="nav-item">
                                <a href="#" class="nav-link disabled">Bootstrap</a>
                            </div>
                        </div>

                        <div class="card mb-2">
                            <div class="nav-item">
                                <a href="/skills" class="nav-link">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC & Laptops</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Laptops</a>
                        </li>
                        <li class="breadcrumb-item">
                            MacBook
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <H6 class="m-0">
                        Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">top sales</span>
                    </H6>
                    <button class="btn btn-primary rounded-pill m-2">Click</button>
                    <div class="alert alert-primary">This is important!</div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <div class="row g-5 mb-5">

        <div class="col-12">
            <label class="form-label">Email:</label>
            <input class="form-control">
            <div class="form-text text-danger">You need to set the correct email</div>
        </div>
        <div class="col-12">
            <label class="form-label">Email:</label>
            <input disabled class="form-control">
            <div class="form-text text-danger">You need to set the correct email</div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-1">
                    <label class="form-label">Email:</label>
                </div>
                <div class="col-1">
                    <input type="color" class="form-control-sm">
                </div>
                <div class="col-5 form-text text-danger">You need to set the correct email</div>
            </div>

        </div>

        <hr>

        <div class="col-12">
            <label class="form-label">Select role</label>
            <select class="form-select">
                <option selected>Open list</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
        </div>

        <hr>

        <div class="col-12">
            <label class="form-label">Select food</label>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>

        <hr>

        <div class="col-12">
            <label class="form-label">Select food</label>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
        </div>

        <hr>

        <div class="col-12">
            <div class="form-check form-switch">
                <label class="form-check-label">Get bonus</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>

    </div>


    <hr>

    <h1><i class="bi bi-emoji-smile"></i><i class="fa-solid fa-globe" style="color: #0aeb42;"></i> Heading</h1>

    <button class="btn btn-primary"><i class="bi bi-emoji-smile"></i><i class="fa-solid fa-globe"
            style="color: #0aeb42;"></i></button>

    <i class="bi bi-emoji-smile"></i>
    <i class="fa-solid fa-globe" style="color: #0aeb42;"></i>
    <div><i class="fa-solid fa-globe fa-beat" style="color: #0aeb42;"></i></div>
    <div>
        <svg width="20px" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
                d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z" />
        </svg>
    </div>

    <div>
        <img src="/svg/globe.svg">
    </div>


    <hr>

    <h1>Hello world</h1>

    {{>title data="My title"}}

    <div style="color:blue;">Blue text</div>




</main>