{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <div class="row">
            <div class="col-12">
                <section class="mb-5">
                    {{>title big=true data='My Educations:'}}
                    <ul class="ms-5">
                        {{#each educations}}
                        <li>
                            {{name}}
                            {{#unless isEnd}}
                            (ще в процесі)
                            {{/unless}}
                        </li>
                        {{/each}}
                    </ul>
                </section>
                <section>
                    {{>title big=false data='My Certificates:'}}
                    <ul class="ms-5">
                        {{#each certificates}}
                        <li>
                            {{name}}
                            (ID: {{id}})
                        </li>
                        {{/each}}
                    </ul>
                </section>
            </div>
        </div>

    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}