{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="card mb-5">
    <div class="card-body mt-1">
        <div class="row">
            <div class="col-10">
                <h5>Владислав Савченко</h5>
            </div>
            <div class="col-2">
                <h5>Resume project</h5>
            </div>
        </div>
    </div>
</div>

<section class="mb-5">
    <h3>Список сторінок</h3>
    <p>In in elit fugiat culpa deserunt labore ipsum.</p>
</section>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">Resume</h4>
                <div class="row">
                    <div class="col-4">

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/summary">Summary</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/skills">Skills</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/education">Education</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/work">Work</a>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-2">
                            <a class="btn btn-primary" href="/bio">Bio</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/car">Car</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/facebook">Facebook</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/js">JS</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/mac">Mac</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/person">Person</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/program">Program</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/web">Web</a>
                        </div>

                    </div>

                    <div class="col-4">
                        <div class="mb-2">
                            <a class="btn btn-primary" href="/task21">Task 2.1</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/task22">Task 2.2</a>
                        </div>

                        <div class="mb-2">
                            <a class="btn btn-primary" href="/task31">Task 3.1</a>
                        </div>
                    </div>

                </div>






            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">Shop</h4>
                <div class="mb-2">
                    <a class="btn btn-primary" href="/shophome">Home</a>
                </div>

                <div class="mb-2">
                    <a class="btn btn-primary" href="/shoporder">Order</a>
                </div>

                <div class="mb-2">
                    <a class="btn btn-primary" href="/shopcart">Cart</a>
                </div>

                <div class="mb-2">
                    <a class="btn btn-primary" href="/shopprofile">Profile</a>
                </div>

                <div class="mb-2">
                    <a class="btn btn-primary" href="/shopreview">Review</a>
                </div>

                <div class="mb-2">
                    <a class="btn btn-primary" href="/shopcatalog">Catalogue</a>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}