<footer>
    <hr class="my-5">


    <div class="row">
        {{#each footer}}
        <div class="col-2">
            <div class="nav flex-column">
                {{#each this}}
                <div class="nav-item">
                    <a class="nav-link {{#if @last}}disabled{{/if}}" href="{{link}}" target="_blank">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</footer>